
.login-page .lang-select{
	color: white;
    margin-right: 2%;
    font-size: 24px;
}

.select2-container{
	width: 75%;
}

.row-fluid .span11.bid-list{
	margin-top: 1%;
	font-size: 13px;
	color: black;
	width: 100%;
}

.bid-list input[type="checkbox"]{
	margin: 0 4px 0 0;
}

.bid-list .widget-content{
	padding: 0;
}

.price-section span{
	float: right;
}

.row-fluid .span6.qty-price-section{
	width: 50%;
}

.posted-section{
	margin-top: 10px;
	margin-left: 10px;
}

.qty-section{
	padding: 0;
	width: auto;
}

@media (min-width: 1200px){
	.container{
		width: 100%;
	}
}

@media (max-width: 1199px) and (min-width: 768px){
	.container{
		width: 100%;
	}
}

@media (max-width: 979px) and (min-width: 768px){
	.filter-container{
		width: 50%;
	}
	[class*="span"], .row-fluid [class*="span"] {
		float: left;
		width: 31.49%; 
	}
}

@media (max-width: 767px){
	.container {
		width: 100%;
	}
	
	
	.price-section span{
		float: left;
	}

	.item
	{
		float: none;
		width: 100%;
		background-color: #eee;
		margin-bottom: 10px;
		padding: 10px 15px;
		border: 1px solid #ddd;
	}
	
	.item .list-group-image
	{
		margin-right: 10px;
	}
	
	.item .thumbnail
	{
		margin-bottom: 0px;
	}
	
	.item .caption
	{
		padding: 9px 9px 0px 9px;
	}
	
	.list-group .item:nth-of-type(odd)
	{
		background: #eeeeee;
	}

	.item:before, .item:after
	{
		display: table;
		content: " ";
	}

	.item .list-group-image
	{
		float: left;
	}
	
	.item:after
	{
		clear: both;
	}
	
	.list-group-section{
		display: none;
	}
}

@media (max-width: 480px){
	#header{
		display: inline-block;
	}
	
	#loginbox{
		padding-top: 40px;
	}
	
	.login-page .lang-select{
		margin-right: 5%;
	}	
	
	.select2-container{
		width: 75%;
	}

	#user-nav {
		margin: 0;
		width: 110px;
		height: 32px;
		left: 200px;
		top: -60px;
	}
	
	#user-nav > ul{
		width: 110px;
		margin: 0 !important;
		display: inline-block;
		right: 0 !important;
		float: right;
	}
	
	.nav-tabs>li{
		clear: both;
		width: 100%;
		border-bottom: solid 1px #616175;
	}
	
	.widget-title .nav-tabs li a{		
		background: #616175;
		border-width: 0px;
	}
}