@media (min-width: 1200px){
	.container{
		width: 100%;
	}
}

@media (max-width: 1199px) and (min-width: 768px){
	.container{
		width: 100%;
	}
}


@media (max-width: 767px){
	.container {
		width: 100%;
	}
	
	.item
	{
		float: none;
		width: 100%;
		background-color: #eee;
		margin-bottom: 10px;
		padding: 10px 15px;
		border: 1px solid #ddd;
	}
	
	.item .list-group-image
	{
		margin-right: 10px;
	}
	
	.item .thumbnail
	{
		margin-bottom: 0px;
	}
	
	.item .caption
	{
		padding: 9px 9px 0px 9px;
	}
	
	.list-group .item:nth-of-type(odd)
	{
		background: #eeeeee;
	}

	.item:before, .item:after
	{
		display: table;
		content: " ";
	}

	.item .list-group-image
	{
		float: left;
	}
	
	.item:after
	{
		clear: both;
	}
	
	.list-group-section{
		display: none;
	}
}

@media (max-width: 480px){
	#header{
		display: inline-block;
	}
	
	#user-nav {
		margin: 0;
		width: 110px;
		height: 32px;
		left: 200px;
		top: -60px;
	}
	
	#user-nav > ul{
		width: 110px;
		margin: 0 !important;
		display: inline-block;
		right: 0 !important;
		float: right;
	}
	
	.nav-tabs>li{
		clear: both;
		width: 100%;
		border-bottom: solid 1px #616175;
	}
	
	.widget-title .nav-tabs li a{		
		background: #616175;
		border-width: 0px;
	}
}